<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Book</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <!-- Header -->
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='img/logo.png') }}", alt="Book logo" width="100", height="100">
        </a>
        <a href="{{ url_for('search') }}">click to search</a>
        <hr>
      </div>
    </header>

    {% if book is defined %}
    <div style="display:inline-block;vertical-align:top;">
    <img src="{{ url_for('static', filename='img/1559138382833.jpg') }}" alt="Book Title" width="400" height="600">
    </div>
    <div style="display:inline-block;">
      <br><br><br><br><br>
      <p>Title: {{ book['BTitle'] }}</p>
      <p>Author: {{ book['BAuthor'] }}</p>
      <p>ISBN-13: {{ book['BIsbn'] }} </p>
      <p>Release Year:{{ book['Byear'] }} </p>
      <p>Related Course: {{ book['BCourse'] }} </p>
      </div>
    {% else %}
    <h1>No book found</h1>
    {% endif %}

  </body>
</html>