{% extends "layout.html"%}
{% block header %}
  <title>{{ book['BTitle'] }}</title>
{% endblock %}
{% block body %}

    {% if book is defined %}
    <div style="display:inline-block;vertical-align:top;">
    <img src="{{ url_for('static', filename='img/1559138382833.jpg') }}" alt="Book Title" width="400" height="600">
    </div>
    <div style="display:inline-block;">
      <br><br><br><br><br>
      <p>Title: {{ book['BTitle'] }}</p>
      <p>Author: {{ book['BAuthor'] }}</p>
      <p>ISBN-13: {{ book['BISBN'] }} </p>
      <p>Release Year:{{ book['Byear'] }} </p>
      <p>Related Course: {{ book['BCourse'] }} </p>
      </div>
    {% else %}
    <h1>No book found</h1>
    {% endif %}

{% endblock %}}