{% extends "layout.html"%}
  {% block header %}
    <title>Book</title>
  {% endblock %}
  {% block body %}
    <div>
      <table class="center">
        <tr>
        {% for b in books %}
          <td><a href="{{ url_for('book', isbn=b['BIsbn']) }}"><img src="{{ url_for('static', filename='img/1559138382833.jpg') }}", alt="Image of {{ b['BTitle'] }}", width="300", height="300"> </a><br> {{ b['BTitle'] }} <br> $1.00 </td>
          {% if loop.index is divisibleby 6 or loop.last %}
            </tr>
            {% if not loop.last %}
            <tr>
            {% endif %}
          {% endif %}
        {% else %}
        </tr>
        {% endfor %}
      </table>
    </div>
  {% endblock %}
</html>
