<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Book</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <!-- Header -->
        <a href="index">
          <img src="newBook.png", alt="Book logo" width="100", height="100">
        </a>
        <a href="{{ url_for('search') }}">click to search</a>
        <hr>

      </div>
    </header>

    <div>
      <table class="center">
        <tr>
        {% for b in books %}
          <td><a href="{{ url_for('book', isbn=b['BIsbn']) }}"><img src="static/img/1559138382833.jpg", alt="Image of {{ b['BTitle'] }}", width="300", height="300"> </a><br> {{ b['BTitle'] }} <br> $1.00 </td>
          {% if loop.index is divisibleby 3 or loop.last %}
            </tr>
            {% if not loop.last %}
            <tr>
            {% endif %}
          {% endif %}
        {% else %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
