{% extends "layout.html"%}
{% block header %}
		<title>Search Results Page</title>
{% endblock %}
{% block body %}
	<div class="row"> <!-- Contains the filter sidebar and the books found in the search -->

		<div class="col-sm-2">
			<aside> <!-- Filter side bar -->
				<h2>Filter settings:</h2>
			</aside>
		</div>

		<div class="col-sm-10">
			<section> <!-- table of all books that are found in this search -->
				{% if books|length > 0 %}
				<h4>Found {{books|length}} Result(s)</h4>
				{% endif %}
				<table class="center">
				<tr>
				{% for b in books %}
				  <td><a href="{{ url_for('book', isbn=b['BIsbn']) }}"><img src="static/img/1559138382833.jpg", alt="Image of {{ b['BTitle'] }}", width="300", height="300"> </a><br> {{ b['BTitle'] }} <br> $1.00 </td>
				  {% if loop.index is divisibleby 3 or loop.last %}
					</tr>
					{% if not loop.last %}
					<tr>
					{% endif %}
				  {% endif %}
				<!-- This else only reached when books is empty -->
				{% else %}
				</tr><h2>No results</h2>
				{% endfor %}
			  </table>
			</section>
		</div>
	</div>
{% endblock %}
